.main-content,
.content-body,
.content-body > div,
#root {
    height: 100%;
}
.main-chat {
    position: relative;
    flex-grow: 1;
    padding: .25rem .5rem;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 0 1rem;
    margin-bottom: .8rem;
    overflow-y: auto;
}

.chat-write-message {
    padding: .25rem .5rem 0;
}

.write-message {
    width: 100%;
    resize: none;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: .5rem 1rem;
}

.write-message:focus,
.write-message:active {
    outline: none;
    border-color: #078ce4;
}

.message-row .message-row-content {
    display: inline-block;
    padding: .25rem .7rem;
    margin-top: .15rem;
    margin-bottom: .15rem;
    border-radius: .35rem;
    max-width: 500px;
}

.message-system {
    margin: 1rem auto;
}
.message-row.message-system .message-row-content {
    border: 1px solid var(--border-color);
    max-width: 550px;
}

.message-row.message-to-me {
    text-align: left;
}
.message-to-me .message-row-content {
    background-color: rgba(34, 36, 38, .04);
    color: rgba(0, 0, 0, .7);
}

.message-row.message-my-row {
    text-align: right;
}
.message-my-row .message-row-content {
    background-color: rgba(0, 128, 255, 0.1);
    color: rgba(0, 54, 107, 0.9);
}

.message-author {
    font-weight: 700;
    font-size: 90%;
}
.message-date {
    opacity: .4;
    line-height: 80%;
    text-align: right;
}
.message-date .icon {
    font-size: 80% !important;
    margin: 0 0 0 .25rem;
}

.message-error .message-date .icon {
    color: red;
}

.message-text {
    text-align: left;
}

.loading-messages {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    text-align: center;
}

.message-title {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}
.message-title > img {
    width: 26px;
    height: 26px;
    border-radius: .25rem;
    opacity: .8;
    margin-right: .5rem;
}