.header-bar {
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: .5rem;
}

.header-bar-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 .5rem;
}

.header-link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    opacity: .8;
}
.header-link:hover {
    opacity: 1;
    cursor: pointer;
}

.header-title {
    margin-left: .5rem;
    font-size: 120%;
    display: flex;
    white-space: nowrap;
}

.header-title > strong {
    font-weight: 900;
}

.header-title > span {
    margin-left: .25rem;
    font-weight: 100;
}