* {
    --menu-width: 180px;

    --border-color: rgba(34,36,38,.15);
    --bg-color: #f0f0f0;
}

.main-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.main-menu {
    width: var(--menu-width);
    max-width: var(--menu-width);
    min-width: var(--menu-width);
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    margin: 0 .25rem;
}

.files-content {
    flex-grow: 1;
}

.hover { opacity: .6; }
.hover:hover { opacity: 1; }

.cursor-pointer { cursor: pointer; }

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100;
    background: #ffffff;
    border-bottom: 1px solid var(--border-color);
    z-index: 500;
}

.header-content {
    width: 100%;
    max-width: 900px;
    margin: .25rem auto;
    padding: .25rem;
}

.header-main-link {
    color: #000000;
    font-size: 130%;
    display: flex;
    align-items: center;
}
.header-main-link:hover {
    opacity: .8;
    color: #000000;
}
.header-main-link > img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: .35rem;
}
.header-main-link > span {
    font-weight: 100;
    padding-left: .5rem;
}

.content-body {
    padding-top: 50px;
}

.show-menu {
    display: none !important;
    margin: 0 1rem 0 .25rem !important;
    opacity: .5 !important;
    cursor: pointer;
}

.show-menu:hover {
    opacity: 1 !important;
}

.main-menu-bg {
    display: none;
}

@media (max-width: 820px) {

    .main-menu {
        position: fixed;
        top: 0 !important;
        left: -250px;
        bottom: 0;
        z-index: 1000;
        padding: 1rem .5rem;
        margin: 0;
        background-color: #f7f9ff;
        border-right: 1px solid var(--border-color);
        transition: .3s;
        z-index: 501;
    }

    .main-menu-bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000c4;
        z-index: 0;
        transition: .3s;
    }

    .show-menu {
        display: block !important;
    }

}