#root {
    background: var(--bs-gray-100);
}

#root, #content {
    min-height: 100vh;
}

#desktop {
    min-height: 100% !important;
    flex-grow: 1;
}

.opacity-0 { opacity: 0; }
.opacity-10 { opacity: .1; }
.opacity-20 { opacity: .2; }
.opacity-30 { opacity: .3; }
.opacity-40 { opacity: .4; }
.opacity-50 { opacity: .5; }
.opacity-60 { opacity: .6; }
.opacity-70 { opacity: .7; }
.opacity-80 { opacity: .8; }
.opacity-90 { opacity: .9; }
.opacity-100 { opacity: 1; }

.upload-progress-content {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    width: 250px;
    padding: .7rem .5rem .5rem;
    background: #ffffff;
    border: 1px solid var(--bs-gray-300);
    border-radius: .35rem;
}

.upload-progress {
    width: 100%;
    background: var(--bs-gray-200);
    height: 14px;
    border-radius: 7px;
    overflow: hidden;
}

.upload-progress-bar {
    background: var(--bs-success);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.upload-progress-bar::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-animation: progress-active 2s ease infinite;
    animation: progress-active 2s ease infinite;
}

@-webkit-keyframes progress-active {
    0% { opacity: .3; width: 0; }
    100% { opacity: 0; width: 100%; }
}

@keyframes progress-active {
    0% { opacity: .3; width: 0; }
    100% { opacity: 0; width: 100%; }
}

.files-desktop {
    padding-top: 2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.file-row, .file-row-empty {
    width: 90px;
}

.file-row {
    margin: .25rem;
    padding: 1rem .5rem .5rem;
    border-radius: .5rem;
    cursor: default;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
}
.file-row:hover {
    background-color: var(--bs-gray-200);
}

.file-row-icon {
    width: 74px;
    height: 74px;
    background: silver;
}

.file-row-name {
    height: 43px;
    overflow: hidden;
    margin-top: .5rem;
}
.file-row-name > span {
    font: 13px / 14px "Arial", sans-serif;
    display: inline-block;
    word-break: break-all;
    white-space: pre-line;
}